@use './util/index' as m;
@use './util/variabls' as v;
@use './util/media-query' as q;

// variable  
$dark: v.$dark;
$light: v.$light;
$primary: v.$primary;
$c363848: v.$c363848;
$cFE8D4D: v.$cFE8D4D;
$c2E2E2E: v.$c2E2E2E;
$cA9A9A9: v.$cA9A9A9;
$shadow1: v.$shadow1;
$shadow2: v.$shadow2;
$cF0EEFF: v.$cF0EEFF;
$cF2F2F2: v.$cF2F2F2;
$cF8F9FD: v.$cF8F9FD;
$c818181: v.$c818181;
// regular css @e


// hero css
.freelancer-list-hero-section {
    background-color: $light;
    @include m.bgi('../images/freelancer-list/hero-bg.svg');
    background-position: 100% 0%;
    padding: 8rem 0;
    padding-bottom: 22rem;
}

.freelancer-list-hero-txt {
    padding-top: 5rem;
    text-align: center;

    h1 {
        color: var(--black, #1F2131);
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .search-job-box {
        width: 90%;
        margin: 0 auto;
        margin-top: 3.5rem;

        form {
            .form-group {
                position: relative;

                .select-box-2 {
                    position: absolute;
                    left: 13rem;
                    top: 1.5rem;

                    select {
                        color: var(--dark, #363848);
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        background-color: transparent;
                        border: 0;
                        min-width: 120px;
                    }
                }

                .select-box {
                    position: absolute;
                    left: 2rem;
                    top: 1.5rem;

                    select {
                        color: var(--dark, #363848);
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        min-width: 120px;
                        background-color: transparent;
                        border: 0;
                    }

                    i {
                        color: #5F4BDB;
                        font-size: 1.5rem;
                        margin-right: 1rem;
                    }
                }

                .form-control {
                    border-radius: 60px;
                    background: #FFF;
                    border: 0;
                    box-shadow: 0px 19px 84px 0px rgba(62, 53, 120, 0.05);
                    height: 4.5rem;
                    padding-left: 19em;
                    padding-right: 3rem;
                    color: #818181;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                .btn {
                    position: absolute;
                    right: 10px;
                    top: 8px;
                    padding: .8rem 1.6rem;
                    border-radius: 37px;
                    color: var(--white, #FFF);
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    background: var(--accent, #FE8D4D);
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    font-family: "Poppins", sans-serif;

                    i {
                        margin-left: 0.6rem;
                    }

                    &:hover {
                        background-color: #818181;
                    }
                }
            }
        }

        .recent-search-key {
            margin-top: 2.5rem;
            @include m.df(center);
            flex-wrap: wrap;
            margin-left: 4rem;
            margin-right: 4rem;

            a {
                display: inline-block;
                border-radius: 50px;
                border: 1px solid #E9E6FE;
                color: var(--dark, #363848);
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                font-family: "Poppins", sans-serif;
                line-height: normal;
                padding: 9px 20px;
                margin-right: 1rem;
                margin-bottom: 1rem;
                transition: all linear .3s;

                &:hover {
                    color: #5F4BDB;
                    border-color: #5F4BDB;
                }
            }
        }
    }
}

.custom-margin-minus {
    margin-top: -10rem;
}


.freelancer-list-header {
    h3 {
        color: #363848;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

.freelancer-list-filter {
    @include m.df(flex-end);

    .my-check-label.form-check {
        margin-right: 2rem;
        align-items: center;

        .form-check-label {
            font-family: "Poppins", sans-serif;
            color: var(--dark, #363848);
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-left: .5rem;
            margin-top: 0.25rem;
        }

        .form-check-input[type="checkbox"] {
            border-radius: 50%;
            width: 1.5rem;
            height: 1.5rem;
            padding: 0.1rem;
            border: 2px solid #E4CFFF;
        }

        .form-check-input:checked {
            background-color: transparent;
            border-color: #5F4BDB;
        }

        .form-check-input:checked[type="checkbox"] {
            background-image: url("../images/check.png");
            background-size: 70%;
        }
    }

    .d_flex {
        margin-right: 2rem;
        @include m.df;

        .form-check-label {
            font-family: "Poppins", sans-serif;
            color: var(--dark, #363848);
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-right: 1rem;
        }

        .form-check-input:checked {
            background-color: #5F4BDB;
            border-color: #5F4BDB;
        }
    }

    .newst-bttn {
        margin-right: 2rem;

        select {
            border-radius: 60px;
            border: 1px solid #E6E6E6;
            color: var(--dark, #363848);
            font-size: 18px;
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            display: inline-block;
            padding: 1rem 3rem;
            background-color: transparent;
        }

    }

    .filter-bttn {
        a {
            border-radius: 60px;
            border: 1px solid #E6E6E6;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 3.5rem;
            height: 3.5rem;
        }
    }
}

.freelancer-list-apggination {
    margin-top: 4rem;

    nav {
        @include m.df(center);

        .pagination {
            display: inline-flex;
            justify-content: center;
            background: #ECDEFF;
            border-radius: 3rem;

            .page-item {
                .page-link {
                    color: var(--primary, #5F4BDB);
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    font-family: "Poppins", sans-serif;
                    line-height: normal;
                    padding: 1rem 1.5rem;
                    background-color: transparent;
                    border-radius: 50%;

                    &:hover {
                        background-color: #5F4BDB;
                        color: $light;
                    }
                }

                .page-link.active {
                    background-color: #5F4BDB;
                    color: $light;
                }

                &:last-child {
                    .page-link {
                        border-radius: 0 4rem 4rem 0;
                    }
                }

                &:first-child {
                    .page-link {
                        border-radius: 4rem 0 0 4rem;
                    }
                }
            }
        }

        .next {
            color: var(--primary, #5F4BDB);
            font-family: "Poppins", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-left: 2rem;
        }

        .prev {
            color: var(--primary, #5F4BDB);
            font-family: "Poppins", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-right: 2rem;
        }
    }
}

.freelancer-profile-box {
    background-color: $light;
    box-shadow: 0px 2px 28px rgba(62, 53, 120, 0.04);
    padding: 2.5rem;
    border-radius: 12px;
    margin-top: 1.5rem;

    .text-end {
        a {
            display: block;

            i {
                font-size: 1.2rem;
                color: $dark;
            }
        }
    }

    .avatar {
        margin-top: -1rem;
        text-align: center;

        img {
            width: 7rem;
            height: 7rem;
            border-radius: 50%;
            object-fit: cover;
        }

        .status {
            margin-top: -1rem;

            span {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 39px;
                
                background: #8A8A8A;;
                color: #FFF;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                padding: 10px 23px;

                i {
                    margin-right: 0.4rem;
                }
            }
            span.active{ 
                background: #30C736;
            }
        }
    }

    .txt {
        margin-top: 2rem;
        text-align: center;

        h4 {
            color: var(--dark, #363848);
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        h6 {
            color: #000;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        ul {
            margin-top: 0.5rem;
            @include m.df(center);

            li {
                margin: 0 .1rem;

                i {
                    font-size: 1rem;
                    color: #FE8D4D;
                }

                span {
                    color: #000;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }
        }
    }

    .table-ftr {
        text-align: center;
        margin-top: 1.5rem;

        table {
            width: 100%;

            tr {
                td {
                    padding-top: 0.8rem;
                    &:first-child {
                        color: #636363;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-align: left;
                    }

                    &:last-child {
                        color: #000;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        text-align: right;
                    }
                }
            }
        }
    }
}



// small phone device
@include q.responsive(phone) {}

// landscape phone device 
@include q.responsive(landphone) {}

// tablet device 
@include q.responsive(tablet) {}

// landtablet device 
@include q.responsive(landtablet) {}

// regular device 
@include q.responsive(regular) {}

// large device 
@include q.responsive(large) {
    .freelancer-list-header h3{
        font-size: 1.6rem;
    }
    .freelancer-list-filter .newst-bttn select{
        padding: 0.8rem 2rem;
    }
    .freelancer-list-apggination nav .pagination .page-item .page-link{
        padding: .8rem 1.2rem;
        font-size: .9rem;
    }
}