$dark: #000000;
$light: #ffffff;

$primary: #5F4BDB;  

$c363848: #363848;
$cFE8D4D: #FE8D4D;
$c2E2E2E: #2E2E2E;
$cA9A9A9: #A9A9A9;
$cF0EEFF: #F0EEFF;
$cF2F2F2: #F2F2F2;
$cF8F9FD: #F8F9FD;
$c818181: #818181;

$shadow1: 0px 19px 29px rgba(62, 53, 120, 0.14);
$shadow2: 0px 2px 28px rgba(62, 53, 120, 0.04);